<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-allowinlinemediaplayback"
    version="1.0.0">
    <name>Cordova Plugin allowinlinemediaplayback</name>
    <description>This is a cordova plugin to enable the property AllowInlineMediaPlayback in ios</description>
    <license>MIT</license>
    <keywords>AllowInlineMediaPlayback</keywords>
    <repo>https://github.com/EdgarFabiano/cordova-plugin-ios-allowinlinemediaplayback</repo>
    <issue>https://github.com/EdgarFabiano/cordova-plugin-ios-allowinlinemediaplayback/issues</issue>

    <variable name="ALLOWINLINEMEDIAPLAYBACK" value="true" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <preference name="AllowInlineMediaPlayback" value="$ALLOWINLINEMEDIAPLAYBACK" />
        </config-file>
    </platform>

</plugin>
